.widget-stats .stats-icon.stats-icon-lg.stat-lap {
  font-size: 128px !important;
  top: 15px !important;
  color: #fff !important;
  width: 128px !important;
  height: 50px !important;
  line-height: 50px !important;
  text-shadow: 3px 7px rgba(0, 0, 0, 0.25) !important;
  opacity: 0.15 !important;
  right: 0 !important;
}

.panel-body.panel-stat-lap {
  display: none;
}

.dashboard-all .realisasi-card.card {
  border-radius: 0 0 4px 4px;
}

.realisasi-card {
  background-color: #22283c;
  padding: 10px;
}

.progress-title,
.dashboard-all .panel-heading {
  color: #adb5bd;
}

.dashboard-all .panel-collapse > .panel-body {
  padding: 0;
  border-top: 0 !important;
}

.progress-angka {
  font-size: 153%;
  margin-bottom: 6px;
}

.dipa-accordion-btn {
  width: 100%;
  background: #20252a;
  text-align: left;
  padding: 13px;
  border-radius: 3px 3px 0px 0px;
}

.dashboard-all .dipa-accordion-btn,
.dashboard-all .dipa-accordion-btn.btn-link:hover,
.dashboard-all .dipa-accordion-btn.btn-link:focus,
.dashboard-all .dipa-accordion-btn.btn-link:active {
  background-color: #2d353c;
}
.progress-bar-striped {
  background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
  );
  background-size: 1rem 1rem;
}



